<footer class="footer-section bg-color-1">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-md-3  align-self-center text-center">
                <img src="assets/images/logo.svg" alt="">
                <ul class="list-unstyled footer-social-links mt-3">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="footer-widget-title">About Us</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Who we are</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="footer-widget-title">Advisory</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Financial Planning</a></li>
                    <li><a href="#">Financial Planning</a></li>
                    <li><a href="#">Financial Planning</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="footer-widget-title">Others</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Financial Planning</a></li>
                    <li><a href="#">Financial Planning</a></li>
                    <li><a href="#">Financial Planning</a></li>
                </ul>
            </div>
        </div>
        <div class="row pt-2 text-center b-footer">
            <div class="col-md-12">
                <div class="border-top pt-2">
                    <p>Copyright &copy; 2021 Financial Hospital LLP. All rights reserved</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis</p>
                </div>
            </div>
        </div>
    </div>
</footer>