<div class="intro-section" id="home-section">
    <div class="slide-1" style="background-image: url(assets/images/hero_1.jpg); background-position: 50% -25px;"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 mb-4">
                            <h1 class="">Learn From The Expert</h1>
                            <p class="mb-5">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas
                                necessitatibus sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis</p>
                            <a href="#" class="btn btn-white px-5 mr-4" (click)="$event.preventDefault(); openPlans();">Start a plan</a>
                            <a href="#" class="btn btn-white btn-outline-white px-5">Get in touch</a>
                        </div>
                        <div class="col-lg-5 ml-auto h-50 text-center vedio-icon">
                            <!-- <ion-icon name="caret-forward-circle-outline"></ion-icon> -->
                            <span class="material-icons">
                                play_arrow
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>