<div mat-dialog-content>
    <div id="otpSidebar" class="sidenavOTP">
        <div class="d-lg-flex half">
            <a mat-dialog-close class="closebtn">
                <span class="material-icons">
                    west
                    </span>
            </a>
            <div class="order-1 order-md-2"></div>
            <div class="contents order-2 order-md-1">
                <div class="container">
                    <div class="row align-items-center justify-content-center position-relative">
                        <div class="col-md-10">
                            <form>
                                <div class="form-group first">
                                    <div class="otp-wrapper otp-event">
                                        <div class="otp-container">
                                            <input type="tel" id="otp-number-input-1" class="otp-number-input"
                                                maxlength="1" autocomplete="off">
                                            <input type="tel" id="otp-number-input-2" class="otp-number-input"
                                                maxlength="1" autocomplete="off">
                                            <input type="tel" id="otp-number-input-3" class="otp-number-input"
                                                maxlength="1" autocomplete="off">
                                            <input type="tel" id="otp-number-input-4" class="otp-number-input"
                                                maxlength="1" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="content-label">
                                        <a>Resend OTP</a>
                                    </div>

                                </div>
                                <button type="submit" value="Submit" class="btn btn-success px-5">Submit</button>
                                <div class="text-center time-remain mt-4">08:45</div>

                            </form>
                        </div>
                        <div class="footer-block">
                            <p class="m-0">The OTP was sent to - 98985654</p>
                            <div class="content-label pt-2 pb-5">
                                <a>Change the phone number</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
